.search {
    position: relative;
    margin-bottom: 20px;
    width: 450px;

    .searchImg {
        width: 25px;
        height: 25px;
        position: absolute;
        top: 10px;
        left: 10px;
        fill: #abb0bb;
    }

    input {
        width: 100%;
        padding: 15px 40px;
        background-color: #1f2a48;
        border: 1px solid #007aff;
        border-radius: 10px;
        color: inherit;
        &:focus {
            outline: 2px solid lightblue;
        }
    }
    button {
        position: absolute;
        top: 7px;
        right: 9px;
        padding: 8px 15px;
        color: #fff;
        background: #007aff;
        border-radius: 6px;
        border: none;
        box-shadow: 0 0 10px #007aff;
        transition: top 0.15s ease-in-out;
        cursor: pointer;
        &:hover {
            background-color: lighten($color: #007aff, $amount: 10);
        }
        &:active {
            top: 8px;
            background-color: darken($color: #007aff, $amount: 5);
            box-shadow: darken($color: #007aff, $amount: 5);
        }
    }
}
